@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body {
    background: #0D192C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.card {
    background: #15263F;
    width: 350px;
    height: 596px;
}
.img {
    padding: 24px;
}
.img img {
    width: 100%;
    border-radius: 8px;  
}
.hed h1 {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 0 0 24px;
}
.para p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #8BACD9;
    margin: 16px 0 0 24px;
}
.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}
.eth  {
    display: flex;
    align-items: center;
    gap: 9px;
}
.days  {
    display: flex;
    align-items: center;
    gap: 9px;
}
.eth p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00FFF8;
    margin: 0;
}
.days p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
    margin: 0;
}
hr {
    border: 1px solid #2E405A;;
    width: 302px;
}
.avatar img {
    width: 33px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}
.end {
    display: flex;
    align-items: center;
    margin: 16px 24px;
}
.end p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
    margin: 0 5px 0 16px;
}
span {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
